<h1>University Registrar - Add a new Course</h1>
<form action="/course" method="post">
  <label for="new-course">Course name:</label>
  <input id="new-course" name="new-course" type="text">
  <label for="new-coursenum">Course number:</label>
  <input id="new-coursenum" name="new-coursenum" type="text">
  <button type="submit">Add that course!</button>
</form>
