<h1>University Registrar - Add a new Student</h1>
<form action="/student" method="post">
  <label for="new-student">Student name:</label>
  <input id="new-student" name="new-student" type="text">
  <label for="enroll-date">Enrollment date:</label>
  <input id="enroll-date" name="enroll-date" type="date">
  <button type="submit">Add that student!</button>
</form>
