<h1>University Registrar - Add a new Department</h1>
<form action="/department" method="post">
  <label for="new-department">Department name:</label>
  <input id="new-department" name="new-department" type="text">
  <button type="submit">Add that department!</button>
</form>
