@using Registrar.Models
<h1>University Registrar: The Database</h1>
<p><a href="/course">View by courses</a></p>
<p><a href="/department">View by department</a></p>
<p><a href="/student">View by student</a></p>
